{% extends 'base.html' %}
{% block styles %}
    <style>
        /* Estilos principais para o teclado QWERTY */
        .qwerty-row {
            display: flex;
            justify-content: center;
            margin-bottom: 5px;
        }

        .letra-btn {
            width: 45px;
            height: 45px;
            font-size: 16px;
        }

        /* Ajustes para telas menores que 507px */
        @media (max-width: 507px) {
            .letra-btn {
                width: 30px;
                height: 30px;
                font-size: 12px;
            }
        }
    </style>
{% endblock styles %}
{% block conteudo %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Jogo da Forca: {{ tema.nome }}</h1>
        <p class="text-center">Criado por: <strong>{{ tema.criado_por.username }}</strong></p>

        <div id="jogo-container" class="mt-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <p id="palavra" class="display-4 text-center">
                        {% for letra in palavra %}
                            <span class="letra" data-letra-correta="{{ letra }}">_</span>
                        {% endfor %}
                    </p>
                </div>
            </div>

            <div id="teclado" class="text-center">
                <!-- Primeira linha do teclado QWERTY -->
                <div class="qwerty-row">
                    {% for letra in "QWERTYUIOP" %}
                        <button class="btn btn-outline-primary m-1 letra-btn"
                                data-letra="{{ letra }}">{{ letra }}</button>
                    {% endfor %}
                </div>

                <!-- Segunda linha do teclado QWERTY -->
                <div class="qwerty-row">
                    {% for letra in "ASDFGHJKL" %}
                        <button class="btn btn-outline-primary m-1 letra-btn"
                                data-letra="{{ letra }}">{{ letra }}</button>
                    {% endfor %}
                </div>


                <div class="qwerty-row">
                    {% for letra in "ZXCVBNM" %}
                        <button class="btn btn-outline-primary m-1 letra-btn"
                                data-letra="{{ letra }}">{{ letra }}</button>
                    {% endfor %}
                </div>
            </div>

            <div class="mt-5">
                <h2 class="text-center">Resultado:</h2>
                <p id="resultado" class="text-center text-primary display-5">{{ resultado }}</p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEndgame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog endgame">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="endgametitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span id="endgameBody"></span>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'jogarForca' tema.id %}">
                        <button type="button" class="btn btn-primary">Jogar Novamente</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const palavraElement = document.getElementById('palavra');
            const resultadoElement = document.getElementById('resultado');
            const teclado = document.getElementById('teclado');

            function updatePalavra(acertos) {
                palavraElement.querySelectorAll('.letra').forEach(span => {
                    const letra = span.dataset.letraCorreta.toUpperCase();
                    span.textContent = acertos.includes(letra) ? letra : "_";
                });

                acertos.forEach(letraCerta => {
                    let buttonLetra = document.querySelector(`button[data-letra='${letraCerta}']`);
                    changeButtonClass(buttonLetra, "btn-outline-primary", "btn-success");
                });
            }


            function updateErros(erros) {
                erros.forEach(letraErrada => {
                    let buttonLetra = document.querySelector(`button[data-letra='${letraErrada}']`);
                    changeButtonClass(buttonLetra, "btn-outline-primary", "btn-danger");
                });
            }

            function changeButtonClass(btn, beforeClass, afterClass) {
                if (btn.classList.contains(beforeClass)) {
                    btn.classList.remove(beforeClass);
                    btn.classList.add(afterClass);
                }
            }


            function updateResultado(resultado) {
                resultadoElement.textContent = resultado;

                if (resultado !== "Em andamento") {
                    document.getElementById("endgametitle").textContent = resultado;
                    if (resultado === "Vencedor") {
                        resultadoElement.classList.remove("text-primary")
                        resultadoElement.classList.add("text-success")
                        document.getElementById("endgameBody").textContent = "Parabéns Você Ganhou🥳🥳🥳";
                    } else if (resultado === "Perdedor") {
                        resultadoElement.classList.remove("text-primary")
                        resultadoElement.classList.add("text-danger")
                        document.getElementById("endgameBody").textContent = "Não foi dessa vez🙁🙁🙁";
                    }

                    let teclasTeclado = document.querySelectorAll("button[data-letra]");
                    teclasTeclado.forEach(tecla => disableButton(tecla));
                    const modal = new bootstrap.Modal(document.getElementById('modalEndgame'));
                    modal.show();
                }

            }

            // Função para desativar os botões após o clique
            function disableButton(button) {
                button.disabled = true;
                button.classList.add('disabled');
            }

            teclado.addEventListener('click', function (event) {
                if (event.target.classList.contains('letra-btn')) {
                    const letra = event.target.getAttribute('data-letra');

                    // Cria um objeto FormData para simular um envio de formulário
                    const formData = new FormData();
                    formData.append('letra', letra);
                    formData.append('jogo_id', '{{ jogo_id }}'); // Inclui o ID do jogo

                    // Envia a letra selecionada via fetch
                    fetch('{% url "jogarForca" tema_id=tema.id %}', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.error) {
                                alert(data.error);
                                return;
                            }
                            updatePalavra(data.acertos);
                            updateErros(data.erros);
                            updateResultado(data.resultado);
                            disableButton(event.target); // Desativa o botão clicado
                        })
                        .catch(error => console.error('Error:', error));
                }
            });
        })
        ;
    </script>
{% endblock conteudo %}
