{#{% extends 'base.html' %}#}
{#{% block conteudo %}#}
{#    <h1>{{ tema.nome }}</h1>#}
{#    <p>Criado por: {{ tema.criado_por.username }}</p>#}
{#    <a href="{% url 'listaTemas' %}">Voltar à lista de temas</a>#}
{#{% endblock conteudo %}#}

{% extends 'base.html' %}

{% block conteudo %}
    <h1>Jogo da Forca</h1>
    <h2>Palavra do Tema: {{ palavra.palavra }}</h2>

    <p><strong>Progresso:</strong></p>
    <p>
        {% for letra in palavra.palavra %}
            {% if letra in jogo.acertos.all|slice:":-1"|join:""|split:" " %}
                {{ letra }}
            {% else %}
                _
            {% endif %}
        {% endfor %}
    </p>

    <p><strong>Letras Erradas:</strong></p>
    <p>
        {% for letra in jogo.erros.all %}
            {{ letra.letra }}
        {% endfor %}
    </p>

    <p><strong>Resultado:</strong> {{ resultado }}</p>

    <form method="post">
        {% csrf_token %}
        <label for="letra">Tentativa de Letra:</label>
        <input type="text" id="letra" name="letra" maxlength="1" required>
        <button type="submit">Enviar</button>
    </form>

    <a href="{% url 'listaTemas' %}">Voltar à lista de temas</a>
{% endblock conteudo %}
