{% extends 'base.html' %}
{% block conteudo %}
    <div class="container card mt-4 p-5">
        <h2 class="mb-4">Temas Gerais</h2> <!-- Added title -->
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">Tema</th>
                <th scope="col">Jogar</th>
            </tr>
            </thead>
            <tbody>
            {% for tema in temas %}
                <tr>
                    <td>{{ tema }}</td>
                    <td>
                        <!-- Play button with an icon -->
                        <a href="{% url 'jogarForca' tema.id %}" class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-play-circle"></i>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" class="text-center">Você ainda não possui temas cadastrados!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Bootstrap styled button for adding a new tema -->
        <a href="{% url 'criarTema' %}" class="btn btn-primary">Cadastrar Tema</a>
    </div>
{% endblock conteudo %}
